---
layout: default
---

<div class="container-fluid" id="gigs">
    <div class="col-md-8 transbox">
        <marquee behavior="alternate" scrollamount="3">
            <p class="text-center"><strong>***** NEXT GIG : Saturday 28th of July in <a
                        href="https://www.facebook.com/tobrennans/" style="color: rgb(255,255,255)">T.
                        O&apos;Brennan&apos;s</a> bar @ 9pm. *****</strong></p>
        </marquee>
    </div>
</div><!-- ./container gigs -->

<div class="container-fluid" id=about>
    <div class="col-md-8 transbox">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">ABOUT ECLECTIC SWINGFOLK</h3>
                <p class="text-center">Eclectic Swingfolk are Dayo and Macky: a singing, guitar-playing and drumming duo with over 20 years songwriting, recording and performing experience. Their influences span a diversity of music genres and decades of history from Folk, Blues and Jazz, to Roots, Rock and Reggae. Eclectic Swingfolk cover material from well-known artists and seamlessly intertwine it with original compositions. The result is a captivating and eclectic musical mosaic that’s guaranteed to entertain!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6"><img class="rounded-circle person-img"
                    src="assets/images/member-01.jpg" alt="dayo-image" />
                <p class="text-center"><strong>Dayo</strong>: Vocals, guitar &amp; percussion</p>
            </div>

            <div class="col-md-6"><img class="rounded-circle person-img"
                    src="assets/images/member-02.jpg" alt="macky-image" />
                <p class="text-center"><strong>Macky</strong>: Percussion, guitar &amp; vocals</p>
            </div>
        </div>
    </div><!-- ./transbox about -->
</div><!-- ./container about -->

<br><!-- REMOVE -->

<div class="container-fluid" id="listen">
    <div class="col-md-12 transbox">
        <h3 class="text-center">LISTEN TO ECLECTIC SWINGFOLK</h3>
    </div>
    <p class="text-center"><iframe
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/343929088%3Fsecret_token%3Ds-OWnog&amp;color=bbc725&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
            frameborder="no" scrolling="no" width="100%" height="166"></iframe></p>
</div><!-- ./container listen -->

<div class="container-fluid">
    {% include contact.html%}
</div><!-- ./container contact -->
