<div class="transbox contact-form" id="contact">
    <h3 class="text-center">CONTACT ECLECTIC SWINGFOLK</h3>
    <div class="row">
        <div class="col-md-4">
            <p id="contact-text">If you would like to contact Eclectic Swingfolk, or arrange a booking, please complete and submit the contact form. You will receive a response soon.</p>
        </div>
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="send-email placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="send-text" rows="3"></textarea>
                </div>
            </form>
            <input type="submit" id="send-button" value="Send Message"/>
        </div>
    </div><!-- ./row -->
</div><!--./ form transbox -->
