<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="container">
        <div class="site-info">
            <a class="up-arrow" href="#" data-toggle="tooltip" title="BACK TO TOP">
                <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
            </a>
            <p class="text-center">Photos copyright Dave Uzell &copy; 2015 - all rights reserved. <em>I'll Fly Away</em>
                and <em>Follow Along</em> were recorded at BIMM Dublin and engineered by A. Murphy. The recordings of
                <em>I'll Fly Away</em>, written by Albert E. Brumley, <em>The Only Living Boy in New York</em>, written
                by Paul Simon, and <em>Follow Along</em>, written by M. Kavanagh, performed by Eclectic Swingfolk and
                published on this website, are not monitised or available to download. <em>Follow Along</em> and this
                website's design are licensed under a <a rel="license"
                    href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial
                    4.0 International License</a>.
            </p>
            <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">
                <img class="mx-auto d-block" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
            </a>
        </div><!-- close .site-info -->
    </div>
</footer><!-- #colophon -->
