/*
Custom CSS
*/
h3 {
    margin-top: 70px !important;
    letter-spacing: 10px !important;
    color:#D4AF37 !important;
}
p {
    color: #D4AF37;
}
.navbar-brand a {
    color: #D4AF37;
    text-decoration: underline;
}
#masthead .navbar-nav > li a {
    color: #D4AF37 !important;
    text-decoration: underline;
}
#masthead {
    background-color: #000000 !important;
}
.site-title{
    font-variant: small-caps;
}
body {
    background-image: url("images/bg-01.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; 
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
div.transbox {
    background-color: #000000;
    border: 0.01px solid #D4AF37;
    opacity: 0.75;
    padding: 30px;
}
#listen {
    margin-top: 70px;
    padding: 0px;
}
.person-img {
    margin: 3%;
    border: .01px solid #D4AF37;
}
footer {
 font-size: 14px;
}
footer a {
    text-decoration: underline;
    color: #ffffff;
}
footer#colophon.site-footer{
	background-color: #000000 !important;
	text-align: center !important;
}

.fa-chevron-circle-up{
	margin: 0.25em;
	color:#D4AF37 !important;
	font-size: 2.5em;
}
#contact {
    border: .01px solid #D4AF37;
    padding: 30px;
    margin: 30px;
    margin-top: 70px;
}
#contact-text{
    padding-top: 3em;
    text-align: left;
}
.form-group label{
    color:#D4AF37 !important;
}
#send-text {
    width: 50%;
}
#send-email {
    width: 75%;
}
#send-button {
    background: #D4AF37 !important;
    color:#ffffff !important;
    padding: 10px 30px !important;
}
